._2QjE6+div {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
}


.html2canvasreset {
   overflow: visible !important;
    width: auto !important;
    height: auto !important;
    max-height: auto !important;
 }